.auth-page--wrapper {
    height: 75vh;
    background-image: url(greece_a03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px 1px $secondary;
    border-radius: 4px;

    .auth-page--form-input-group {
        display: flex;
        flex-direction: column;
        padding: 24px;
        border-radius: 8px;
        background-color: white;
        min-width: 312px;
        box-shadow: 0 1px 1px 1px $secondary;
    }
}
