//* btn-slide/-sm btn-slide-dark/primary/success/info/warning/danger right/top-slide
@mixin button-slide-styles($base-color, $accent-color) {
    position: relative;
    z-index: 1;
    padding: .5rem 1rem;
    border-radius: .25rem;

    color: $accent-color;
    background-color: transparent;
    border: .04rem solid $accent-color;

    transition: color .25s ease-in-out;

    &.right-slide {
        &:hover, &.btn-selected {
            color: $base-color;

            &::before {
                transform: scaleX(1);
            }
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: .25rem;
            background-color: $accent-color;

            transform: scaleX(0);
            transform-origin: left;
            transition: transform .3s ease-in-out;
        }
    }

    &.top-slide {
        &:hover, &:focus {
            color: $base-color;

            &::before {
                transform: scaleY(1);
            }
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: .25rem;
            background-color: $accent-color;

            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform .3s ease-in-out;
        }
    }
}

.btn-slide {
    &.btn-slide-dark {
        @include button-slide-styles(var(--bs-white), var(--bs-dark));
    }

    &.btn-slide-primary {
        @include button-slide-styles(var(--bs-white), var(--bs-primary));
    }

    &.btn-slide-success {
        @include button-slide-styles(var(--bs-white), var(--bs-success));
    }

    &.btn-slide-info {
        @include button-slide-styles(var(--bs-white), var(--bs-info));
    }

    &.btn-slide-warning {
        @include button-slide-styles(var(--bs-white), var(--bs-warning));
    }

    &.btn-slide-danger {
        @include button-slide-styles(var(--bs-white), var(--bs-danger));
    }
}

.btn-slide-sm {
    @extend .btn-slide;
    
    font-size: .875rem;
    padding: .25rem .5rem !important;
}

//* double-button 
.double-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 2s ease-in-out;


    &:hover {
        .pill-button {
            background-color: blue;
        }

        .round-button {
            background-color: blue;
        }
    }

    .pill-button {
        background-color: $primary;
        color: white;
        // border-radius: 1rem;
        // padding: 0.5rem 1rem;
    }

    .round-button {
        // margin-left: 1rem;
        background-color: $primary;
        border-radius: 50%;
        // padding: 0.5rem;

        span {
            color: white;
            // font-size: 1rem;
            font-weight: bolder;
        }
    }

}