//* btn-slide/-sm btn-slide-primary/primary/success/info/warning/danger left/right/bottom/top-slide
@mixin button-slide-styles($base-color, $accent-color-start, $accent-color-end) {
    position: relative;
    z-index: 0;
    padding: .5rem 1rem;
    border-radius: .25rem;

    color: $accent-color-start;
    background-color: transparent;
    border: .08rem solid $accent-color-start;

    transition: color .25s ease-in-out;

    &.left-slide {
        &:hover, &.btn-selected {
            color: $base-color;

            &::before {
                transform: scaleX(1);
            }
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: .25rem;
            background: linear-gradient(to left, $accent-color-start, $accent-color-end);

            transform: scaleX(0);
            transform-origin: right;
            transition: transform .3s ease-in-out;
        }
    }

    &.right-slide {
        &:hover, &.btn-selected {
            color: $base-color;

            &::before {
                transform: scaleX(1);
            }
        }

        &.btn-selected:hover {
            border: 0.08rem solid $gold;
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: .25rem;
            background: linear-gradient(to right, $accent-color-start, $accent-color-end);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .3s ease-in-out;
        }
    }

    &.bottom-slide {
        &:hover, &.btn-selected {
            color: $base-color;

            &::before {
                transform: scaleY(1);
            }
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: .25rem;
            background: linear-gradient($accent-color-start, $accent-color-end);
            transform: scaleY(0);
            transform-origin: top;
            transition: transform .3s ease-in-out;
        }
    }

    &.top-slide {
        &:hover, &.btn-selected {
            color: $base-color;

            &::before {
                transform: scaleY(1);
            }
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: .25rem;
            background: linear-gradient(to top, $accent-color-start, $accent-color-end);

            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform .3s ease-in-out;
        }
    }
}

.btn-slide {
    &.btn-slide-primary {
        @include button-slide-styles(var(--bs-white), $green, $green-light);
    }

    &.btn-slide-yellow {
        @include button-slide-styles(var(--bs-white), $gold-light, $gold-lighter);
    }

    &.btn-slide-red {
        @include button-slide-styles(var(--bs-white), $red, $red-light);
    }

    &.btn-slide-dark {
        @include button-slide-styles(var(--bs-white), $dark-light, $dark-lighter);
    }

    &.btn-slide-blue {
        @include button-slide-styles(var(--bs-white), $blue-light, $blue-lighter);
    }
}

.btn-slide-sm {
    @extend .btn-slide;
    
    font-size: .875rem;
    padding: .25rem .5rem !important;
}

//* double-button 
.double-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 2s ease-in-out;


    &:hover {
        .pill-button {
            background-color: blue;
        }

        .round-button {
            background-color: blue;
        }
    }

    .pill-button {
        background-color: $primary;
        color: white;
        // border-radius: 1rem;
        // padding: 0.5rem 1rem;
    }

    .round-button {
        // margin-left: 1rem;
        background-color: $primary;
        border-radius: 50%;
        // padding: 0.5rem;

        span {
            color: white;
            // font-size: 1rem;
            font-weight: bolder;
        }
    }

}