.double-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 2s ease-in-out;


    &:hover {
        .pill-button {
            background-color: blue;
        }

        .round-button {
            background-color: blue;
        }
    }

    .pill-button {
        background-color: $primary;
        color: white;
        // border-radius: 1rem;
        // padding: 0.5rem 1rem;
    }

    .round-button {
        // margin-left: 1rem;
        background-color: $primary;
        border-radius: 50%;
        // padding: 0.5rem;

        span {
            color: white;
            // font-size: 1rem;
            font-weight: bolder;
        }
    }

}