.home-page--wrapper {
    .flat-card--wrapper:not(.flat-card-on-map) {

        position: relative;
        transition: all 0.5s ease-in-out;

        &:hover {
            transform: translateY(20px);

            &::before {
                opacity: 1;
            }

            .flat-card--info {
                opacity: 1;
                transform: translateY(-5px);
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            transition: all 0.5s ease-in-out;
            opacity: 0;
        }

        .flat-card--info {
            position: relative;
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.5s ease-in-out;
        }

        .flat-card--link {
            position: relative;
            opacity: 1;
        }
    }
}
