.footer {
    position: absolute;
    bottom: -6rem;
    width: 100%;
    padding: 1.2rem;
    background: $bg-main-gradient;
    transition: .25s ease-in-out;
    border-top: 0.025rem solid $secondary;

    a {
        color: $primary;

        &:hover {
            color: $success;
        }
    }

    .icon-footer {
        font-size: 2rem;
    }
}
      