.form-image {
    display: none;

    @include media-breakpoint-up(md) { 
        height: 75vh;
        background-image: url(greece_a03.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: $secondary 0 1px 1px 1px;
        border-radius: 4px;
    }
}
