.header--wrapper {
    position: relative;
    background: $bg-main-gradient;
    z-index: 9000;
    height: 6rem;
    margin-bottom: 1.2rem;
    border-bottom: 0.025rem solid $secondary;
    text-shadow: 0 0.01rem 0.01rem $secondary;

    //* handle mobile margin bottom on collapse
    // burgerCollapseVisible
    &.mobile-extended {
        margin-bottom: 124px;
        @include media-breakpoint-up(lg) { 
            margin-bottom: 1.2rem;
        }
    }
    // mySwapBnbCollapseVisible
    &.mobile-extended-xl {
        margin-bottom: 284px;
        @include media-breakpoint-up(lg) { 
            margin-bottom: 1.2rem;
        }
    }
    // mobileSearchBarCollapseVisible
    &.mobile-extended-xxl {
        margin-bottom: 332px;
        @include media-breakpoint-up(lg) { 
            margin-bottom: 1.2rem;
        }
    }

    a {
        color: $primary;
        &:hover, &:focus, &:active {
            color: $dark-green;
        }
    }

    ul {
        background: $bg-main-gradient;
        border: 0.025rem solid $secondary;
        border-radius: 0.25rem;
        padding: 0 0.5rem;
        ul {
            opacity: 1;
            padding: 0;
            margin: 0 0.5rem;
            opacity: 1;
            border: none;
            li {
                background: $bg-main-gradient;
                margin: 0;

                a {
                    &:hover {
                        color: $primary-x-lighter;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(lg) { 
        ul {
            border: none;
            ul {
                border: 0.025rem solid $secondary;
                border-radius: 0.25rem;

                li {
                    padding: 0;
                    a {
                        &:hover {
                            color: $primary-x-lighter;
                        }
                    }
                }
            }
        }
    }

    .header--main-search-bar {
        background: $bg-main-gradient;
        display: none;
        position: absolute;
        bottom: - 1.8rem;
        border-radius: 0.8rem;

        @include media-breakpoint-up(lg) { 
            display: block;
            left: 10%;
        }

        @include media-breakpoint-up(xl) { 
            display: block;
            left: 21%;
        }

        @include media-breakpoint-up(xxl) { 
            display: block;
            left: 26%;
        }
    }

    .header--mobile-search-bar {
        display: block;
        @include media-breakpoint-up(lg) { 
            display: none;
        }
    }

    .search-bar--container {
        background: $bg-main-gradient;
        padding: 0.16rem 0.42rem;
        border-radius: 0.8rem;
        
        .search-bar--form {
            background-color: $white;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include media-breakpoint-up(lg) { 
                background-color: $primary-x-lighter;
                flex-direction: row;
                align-items: center;
                border-radius: 0.8rem;
            }
        }
    }
}
