.header--wrapper {
    position: relative;
    background-color: $header-bg;
    z-index: 9000;
    height: 6rem;
    margin-bottom: 1.2rem;
    border-bottom: 1px solid $secondary;
    text-shadow: 0 0.01rem 0.01rem $light;

    a {
        color: $primary;

        &:hover {
            color: $dark;
        }
    }

    ul {

            ul {
                opacity: 1;
                // background-color: $header-bg;
                border: 1px solid $primary;
                border-radius: 0.01rem;

                li {
                    padding: .5rem 1rem;
                    // margin: 0;
                }
            }

        
    }

    @include media-breakpoint-up(lg) { 
        // background-color: $header-bg;
        ul {

                ul {
                    // background-color: $header-bg;
                    // border: none;

                    li {
                        padding: 0;
                    }
                }


        }
    }

    .header--main-search-bar {
        background-color: $primary-x-lighter;
        display: none;
        position: absolute;
        bottom: - 1.8rem;
        border-radius: 0.8rem;

        @include media-breakpoint-up(lg) { 
            display: block;
            left: 10%;
        }

        @include media-breakpoint-up(xl) { 
            display: block;
            left: 21%;
            }

            @include media-breakpoint-up(xxl) { 
            display: block;
            left: 26%;
            }
    }

    .header--mobile-search-bar {
        display: block;

        @include media-breakpoint-up(lg) { 
            display: none;
        }
    }

    .search-bar--container {
        background-color: $primary-x-lighter;
        padding: 0.16rem 0.42rem;
        border-radius: 0.8rem;
        
        .search-bar--form {
            background-color: $white;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include media-breakpoint-up(lg) { 
                background-color: $primary-x-lighter;
                flex-direction: row;
                align-items: center;
                border-radius: 0.8rem;
            }
        }
    }
}