//* btn-slide/-sm btn-slide-primary/primary/success/info/warning/danger left/right/bottom/top-slide
@mixin button-slide-styles($base-color, $color-start, $color-end) {
    position: relative;
    z-index: 0;
    padding: .5rem 1rem;
    border-radius: .25rem;

    color: $color-start;
    background-color: transparent;
    border: .04rem solid $color-start;

    transition: color .25s ease-in-out;

    &.left-slide {
        &:hover, &.btn-selected {
            color: $base-color;

            &::before {
                transform: scaleX(1);
            }
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: .25rem;
            background: linear-gradient(to left, $color-start, $color-end);

            transform: scaleX(0);
            transform-origin: right;
            transition: transform .3s ease-in-out;
        }
    }

    &.right-slide {
        &:hover, &.btn-selected {
            color: $base-color;

            &::before {
                transform: scaleX(1);
            }
        }

        &.btn-selected:hover {
            border: 0.08rem solid $color-start;
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: .25rem;
            background: linear-gradient(to right, $color-start, $color-end);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .3s ease-in-out;
        }
    }

    &.bottom-slide {
        &:hover, &.btn-selected {
            color: $base-color;

            &::before {
                transform: scaleY(1);
            }
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: .25rem;
            background: linear-gradient($color-start, $color-end);
            transform: scaleY(0);
            transform-origin: top;
            transition: transform .3s ease-in-out;
        }
    }

    &.top-slide {
        &:hover, &.btn-selected {
            color: $base-color;

            &::before {
                transform: scaleY(1);
            }
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: .25rem;
            background: linear-gradient(to top, $color-start, $color-end);

            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform .3s ease-in-out;
        }
    }
}