//* custom
$primary-light: hsl(182, 96%, 37%);
$primary-lighter: hsl(182, 96%, 97%);
$secondary-light: hsl(0, 0%, 70%);
$success-light: hsl(182, 96%, 87%);
$dark-light: hsl(0, 0%, 40%);
$info-light: hsl(210, 100%, 70%);
$warning-light: hsl(45, 100%, 70%);
$danger-light: hsl(0, 100%, 70%);

//* BS overrides
$primary: hsl(182, 96%, 27%);
$secondary: hsl(0, 0%, 50%);
$success: hsl(182, 96%, 42%);
$dark: hsl(0, 0%, 20%);
$info: hsl(210, 100%, 60%);
$warning: hsl(45, 100%, 60%);
$danger: hsl(0, 100%, 60%);
$light: hsl(0, 0%, 99%);
$white: white;
$black: black;

// 
$body-bg: $white;
$header-bg: $primary-lighter;

// $header-bg-gradient: linear-gradient(to right, $success, $secondary);
// _form form-control
$form-switch-color: $success;
$form-switch-checked-color: $white;
$form-check-input-checked-bg-color: $success;
$dropdown-color: $primary;
$dropdown-bg: $white;
$dropdown-link-hover-bg: $primary-lighter;
$dropdown-link-active-color: $white;
$dropdown-link-active-bg: $primary;
// _input
$input-focus-box-shadow: 0 0 0 0.1rem rgba($success, 0.25);
/* _navbar */
$navbar-light-color: $success;
$navbar-light-toggler-border-color: $dark;
$navbar-toggler-focus-width: 0.08rem;
